.print-icon {
    background-color: #39AD2D;
    padding: 10px 15px;
    color: #fff !important;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    margin-left: 30px;
}

.print-icon img {
    margin-right: 10px;
}

.print-icon:hover {
    color: #fff;
}

.container-gallery .card {
    border: none;
}

.card-image {
    margin: 0 auto;
}

.card-image a {
    border: none;
}

.card-image a img {
    width: 100%;
    min-height: 250px;
    height: auto;
    object-fit: cover;
}

@media (max-width: 768px) {
    .full-width-sidebar {
        display: none;
    }

    .navbar-nav {
        padding-top: 20px;
    }
}

.contact-sidebar {
    padding-top: 80px;
    padding-bottom: 50px;
    background-color: #F2F2F2;
}

.contact-sidebar ul {
    list-style: none;
    margin-left: 0;
    padding-left: 4px;
    margin-bottom: 30px;
}

.contact-sidebar ul li {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 700;
    color: var(--newsColor);
}

.contact-sidebar ul li a {
    font-size: 14px;
    color: var(--menuColor);
    font-weight: 400;
    text-decoration: none;
    position: relative;
    transition: 0.5s;
}

.contact-sidebar ul li a:hover {
    color: var(--accordionName);
}

.contact-sidebar ul li a:hover:before {
    display: block;
}

.contact-sidebar ul li a:before {
    content: "";
    width: 4px;
    height: 20px;
    background-color: var(--accordionName);
    display: inline-block;
    margin-top: 10p;
    position: absolute;
    left: -15px;
    margin-top: 3px;
    display: none;
    transition: 0.5s;
}

.contact-sidebar ul li .active {
    color: var(--accordionName);
}

.contact-sidebar ul li .active:before {
    display: block;
}

.contact-sidebar ul li:first-child {
    margin-bottom: 10px;
}

.ministry-content {
    padding-bottom: 40px;
    padding-left: 15px;
}

* {
    font-family: "Roboto", sans-serif;

}

.ministry-content h2 {
    font-size: 30px;
    font-weight: 700;
    color: var(--newsColor);
    margin-top: 70px;
    margin-bottom: 30px;
}

.ministry-content p {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: var(--newsColor);
}

.ministry-content .faq {
    margin-top: 30px;
    margin-bottom: 30px;
}

.ministry-content .print-icon {
    float: right;
    margin-bottom: 30px;
}


.full-width-sidebar {
    width: 50%;
    position: absolute;
    left: 0;
    z-index: 9;
}



.accordion-body a {
    color: var(--accordionName);
    display: inline-block;
    margin-top: 5px;
}

.accordion-body a:hover {
    color: var(--accordionName);
    text-decoration: none;
}

.custom-accordion {
    margin-top: 40px;
}

.custom-accordion .accordion-item {
    border: 0;
    margin-bottom: 12px;
}

.custom-accordion .accordion-collapse {
    border: 1px solid var(--accordionName);
    border-top: 0;
    border-radius: 4px;
}

.custom-accordion .accordion-header {
    background: var(--whiteColor);
    padding-left: 28px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid var(--accordionName);
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-top: 20px;
}

.custom-accordion .accordion-header h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 18px;
    color: var(--accordionName);
    font-weight: 700;
}

.custom-accordion .accordion-header .accordion-icon {
    width: 12px;
    height: 2.4px;
    background-image: url("../../img/accordion-icon-minus.svg");
    display: inline-block;
    background-repeat: no-repeat;
    margin-right: 30px;
    color: var(--plusColor);
}


.custom-accordion .accordion-header.collapsed {
    border: 0;
    border-radius: 4px;
    box-shadow: 0px 0px 13px 1px rgba(220, 217, 217, 0.5);
    -webkit-box-shadow: 0px 0px 13px 1px rgba(220, 217, 217, 0.5);
    -moz-box-shadow: 0px 0px 13px 1px rgba(220, 217, 217, 0.5);
    padding-top: 10px;
    padding-bottom: 10px;
}

.custom-accordion .accordion-header.collapsed h2 {
    color: #011C4C;
}

.custom-accordion .accordion-header.collapsed .accordion-icon {
    width: 12px;
    height: 12px;

    background-image: url("../../img/accordion-icon-plus.svg");
    display: inline-block;
    background-repeat: no-repeat;
    margin-right: 30px;
}

.ministry-content {
    padding-bottom: 100px;
}

.ministry-content p {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: var(--newsColor);
}

.ministry-content a {
    color: var(--accordionName);
    text-decoration: underline;
}

.ministry-content .history-title {
    margin-top: 30px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: var(--newsColor);
    display: block;
    border-bottom: 1px solid #F2F2F2;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.ministry-content .history-title:after {
    width: 175px;
    height: 3px;
    background-color: var(--accordionName);
    display: block;
    content: "";
    position: absolute;
    margin-top: 18px;
}

.ministry-content .history-list {
    float: left;
    width: 100%;
}

.ministry-content .history-list p {
    color: #011C4C;
    font-weight: 400;
    margin-bottom: 15px;
}

.accordion-bottom {
    display: flex;
    /* align-items: baseline; */
    align-items: center;
    justify-content: space-between;
    margin: 27px 0;
}

.back-page {
    font-size: 16px;
    font-weight: 300;
    text-align: left;
    color: var(--accordionName);
    text-decoration: underline;
}

.print-image {
    width: 100%;
    height: 80px;
    object-fit: cover;
}

.contact-sidebar ul li:first-child {
    margin-bottom: 10px;
}

.services-sidebar-render .parent-menus-render a {
    margin-bottom: 5px;
    font-size: 16px !important;
    font-weight: 700;
    color: var(--newsColor) !important;
    transition: 0.5s;
}