:root {
  --firstBgcolor: rgba(0, 116, 142, 1);
  --whiteColor: rgba(255, 255, 255, 1);
  --mainColor: rgba(0, 208, 255, 1);
  --inputBg: rgba(217, 217, 217, 1);
  --navbarBg: rgba(1, 90, 110, 1);
  --quoteColor: rgba(0, 131, 204, 1);
  --quoteTextColor: rgba(132, 132, 132, 1);
  --newsColor: rgba(0, 29, 62, 1);
  --newsTitleColor: rgba(50, 47, 47, 1);
  --newsTextColor: rgba(0, 0, 0, 1);
  --newsDateBg: rgba(0, 208, 255, 1);
  --otherTextColor: rgba(57, 57, 41, 1);
  --otherDateColor: rgba(122, 122, 122, 1);
  --electronServiceIcon: rgba(128, 123, 123, 1);
  --electronicApp: #06437b;
  --footer-call-center-bg: rgba(10, 108, 130, 1);
  --plusColor: rgba(122, 143, 167, 1);
  --accordionName: rgba(30, 191, 227, 1);
  --press-button-bg: rgba(31, 181, 214, 1);
  --accordionBg: #E6F3F5;
  --dxBg: rgba(245, 253, 255, 1);
  --leftMenuBg: rgba(242, 242, 242, 1);
  --faqBorder: #e6e6e6;
  --usefulTitle: #001d3e;
  --menuColor: rgba(122, 143, 167, 1);
  --transformEffect: scale(1.01);
  --questionText: rgba(0, 29, 62, 1);
  --iColor: rgba(184, 184, 184, 1);
  --receptionColor: #A7AFB9;
  --printColor: #39AD2D;
  --legislationColor: #1ebfe3;
}